@CHARSET "UTF-8";

/* (overwrite bootstrap)チェックボックス中央揃え */
.checkbox{
    margin-top:8px !important;
    margin-bottom:8px !important;
}

/*
 *   汎用
 */
.fit{
    width : 100%;
}
.center{
	text-align:center;
}

/*
 *   レイアウト
 */
.menu-top{
    padding: 5px;
    margin-bottom:30px;
}
.content .text{
	padding-left:10px;
	margin-top:-12px;
}